name: Update Flakes

on:
  schedule:
    - cron: '0 0 * * 6'  # Runs at 00:00 on Saturday
  workflow_dispatch:      # Allows manual triggering

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra-conf: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-flakehub: false

      - name: Configure Git to use PAT
        run: |
          git config --global url."https://oauth2:${{ secrets.GH_PAT }}@github.com/".insteadOf "ssh://git@github.com/"
          git config --global url."https://oauth2:${{ secrets.GH_PAT }}@github.com/".insteadOf "git@github.com:"

      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          pr-title: "chore: update flake.lock"
          pr-labels: |
            dependencies
            automated